@inject IJSRuntime js

<div class="modal @clsShowModalPromo" id="@PromoDialogId">
	<div class="modal-content">
		@if (position.SideToMove == Chesslib.Side.WHITE)
		{
	  <input type="image" id="qPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/wQ.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.QUEEN))" />
	  <input type="image" id="rPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/wR.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.ROOK))" />
	  <input type="image" id="bPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/wB.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.BISHOP))" />
	  <input type="image" id="nPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/wN.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.KNIGHT))" />
		}
		else
		{
	  <input type="image" id="qPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/bQ.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.QUEEN))" />
	  <input type="image" id="rPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/bR.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.ROOK))" />
	  <input type="image" id="bPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/bB.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.BISHOP))" />
	  <input type="image" id="nPP" src="_content/PonzianiComponents/img/chesspieces/wikipedia/bN.png" style="width: 60px;" @onclick="@(e => SetPromoPieceAsync(e, Chesslib.PieceType.KNIGHT))" />
		}
 </div>
</div>

<div class="modal @clsShowModalSetup">
	<div class="modal-content" style="width: 500px;">
		<EditForm Model="addSI" OnValidSubmit="@HandleSetupSubmitAsync" id="SetupDialog">
		<div class="form-group row">
			 <label for="setupSide"  class="col-sm-6 col-form-label">Side to Move</label>
			 <div class="col-sm-6">
			<InputSelect @bind-Value="addSI.Side" id="setupSide">
				<option value="w">White</option>
				<option value="b">Black</option>
			</InputSelect>
			</div>
		</div>
		@if (addSI.CastlingWhiteKingsidePossible) {
		<div class="form-check">
			<InputCheckbox class="form-check-input" @bind-Value="addSI.CastlingWhiteKingside" id="setupCastlesWK"/>
			<label class="form-check-label" for="setupCastlesWK"> White Kingside </label>
		</div>
		}
		@if (addSI.CastlingWhiteQueensidePossible) {
		<div class="form-check">
			<InputCheckbox class="form-check-input" @bind-Value="addSI.CastlingWhiteQueenside" id="setupCastlesWQ"/>
			<label class="form-check-label" for="setupCastlesWQ"> White Queenside </label>
		</div>
		}
		@if (addSI.CastlingBlackKingsidePossible) {
		<div class="form-check">
			<InputCheckbox class="form-check-input" @bind-Value="addSI.CastlingBlackKingside" id="setupCastlesBK"/>
			<label class="form-check-label" for="setupCastlesBK"> Black Kingside </label>
		</div>
		}
		@if (addSI.CastlingBlackQueensidePossible)
		{
		<div class="form-check">
			<InputCheckbox class="form-check-input" @bind-Value="addSI.CastlingBlackQueenside" id="setupCastlesBQ"/>
			<label class="form-check-label" for="setupCastlesWQ"> Black Queenside </label>
		</div>
		}
	    @if (addSI.EnPassantSquares().Count > 1)
			{
				<div class="form-group row">
					<label for="setupEP" class="col-sm-6 col-form-label">En Passant</label>
				<div class="col-sm-6">
					<InputSelect @bind-Value="addSI.EnPassantSquare" id="setupSide">
						@foreach (var v in addSI.EnPassantSquares())
						{
						<option value="@v">@v</option>
						}
			</InputSelect>
			</div>
		</div>
		}
		<div class="form-group row">
			 <label for="setupDrawplaycount" class="col-sm-6 col-form-label">Half-move Counter</label>
			 <div class="col-sm-6">
			<InputNumber @bind-Value="addSI.DrawPlyCount" id="setupDrawplaycount" max="999" min="0" size="3" style="width: 3em;"/>
			</div>
		</div>
		<div class="form-group row">
			 <label for="setupMovenumber" class="col-sm-6 col-form-label">Move Number</label>
			 <div class="col-sm-6">
			<InputNumber @bind-Value="addSI.MoveNumber" id="setupMovenumber" max="999" min="1" size="3" style="width: 3em;"/>
			</div>
		</div>
		 <div class="form-group row">
        <div class="col-sm-6 offset-sm-6">
		<button class="btn btn-primary" type="submit">Ok</button>
        </div>
		 </div>

		</EditForm>
	</div>
</div>

@if (SetupErrorMessage != null)
{
	<div class="alert alert-danger" role="alert"> @SetupErrorMessage</div>
}
<div id="@Id" @ondrop="HandleDropAsync" class="pzChessboard" @attributes=OtherAttributes @ref="_div">
	@if (SetupMode)
	{
		<div class="pzSparePieces" style="align-content:center; height:10%; width:100%; padding-left:12.5%" ondragover="event.preventDefault();"  @ondragenter="() => HandleDragEnterOutside()" >
		@{
			string imgs = "KQRBNP";
				char side = Rotate ? 'w' : 'b';
				for (int i = 0; i < imgs.Length; ++i)
				{
					char pc = imgs[i];
					char pieceChar = side == 'w' ? pc : Char.ToLower(pc);
					<img src=@($"{PathPieceImages}{side}{pc}.png") 
					     style="width: 14.3%; height: 100%;"
						 draggable="true"
						 @ondragstart="() => HandleDragStartSparePieces(pieceChar)"/>
				}
		 }
		</div>
	}
	<div class="pzBoard" 
	     style="@BoardStyle"
		 ondragover="event.preventDefault();">
		@{
		char[] board = Chesslib.Fen.GetPieceArray(_fen);
		@for (int rank = RankStart; rank >= 0 && rank < 8; rank += RankStep)
		{
			<div class="pzBoardRow" style="height: 12.5%; width: 100%;">
				@for (int file = FileStart; file >= 0 && file < 8; file += FileStep)
				{
					Chesslib.Square square = (Chesslib.Square)(8 * rank + file);					
					<div class="@SquareClass(rank, file)" style="@SquareStyle" @ondragenter="() => HandleDragEnter(square)" id="@SquareId(square)">
						@if (ShowCoordinates && file == FileStart)
						{
							<div class="pzNotation pzNumeric">@(rank+1)</div>
						}
						@if (ShowCoordinates && rank == RankEnd)
						{
							<div class="pzNotation pzAlpha">@SquareName(0, file)[0]</div>
						}
						@if (board[8*rank +file] != Chesslib.Fen.PIECE_CHAR_NONE)
						{
							<img class="pzPieceImage" 
							     src="@GetPieceImageSource(board[8*rank +file])" 
								 title="Piece"
								 draggable="@IsDraggable(square)"
								 @ondragstart="() => HandleDragStart(square)"
								 style="width: 100%; height: 100%;" /> 
						}
					 </div>
				}
				<div class="pzClearfix"/>
			</div>
		}
		}
	</div>
	@if (SetupMode)
	{
		<div class="pzSparePieces" style="align-content:center; height:10%; width:100%; padding-left:12.5%" ondragover="event.preventDefault();" @ondragenter="() => HandleDragEnterOutside()">
		@{
			string imgs = "KQRBNP";
				char side = Rotate ? 'b' : 'w';
				for (int i = 0; i < imgs.Length; ++i)
				{
					char pc = imgs[i];
					char pieceChar = side == 'w' ? pc : Char.ToLower(pc);
					<img src=@($"{PathPieceImages}{side}{pc}.png") 
					     style="width: 14.3%; height: 100%;"
						 draggable="true"
						 @ondragstart="() => HandleDragStartSparePieces(pieceChar)"/>
				}
		 }
		</div>
	}
</div>

@code {


}
