@page "/scoresheet"
<h3>ScoresheetDemo</h3>

<Scoresheet Game="@game" Height="@model.Height" OnMoveSelected="@OnMoveSelected" Mode="@DisplayMode"/>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
	<div class="form-group">
		<label for="taPGN">Enter PGN</label>
		<InputTextArea class="form-control" id="taPGN" rows="10" @bind-Value="model.PGNText" />
	</div>
	<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="model.InlineMode" />
		<label>
			Inline Mode:
		</label>
	</div>
	<div class="form-group">
		<label>
			Height:
		</label>
		<InputNumber class="form-control" @bind-Value="model.Height" />
	</div>
	<button type="submit">Submit</button>
</EditForm>
<div class="alert alert-success" role="alert">
	@EventInfoText
</div>

@code {

}
