@page "/scoresheet"
<h3>ScoresheetDemo</h3>

@if (game.Moves.Count > 0) {
<Scoresheet Game="@game" OnMoveSelected="@OnMoveSelected" Mode="@DisplayMode" Type="@model.NotationType" OtherAttributes="@OtherAttributes" Comments="@model.Comments" 
			Variations ="@model.Variations" HierarchicalDisplay="@model.HierarchicalDisplay" ColorCommentText="@model.ColorCommentText"
			ColorCommentBackground="@model.ColorCommentBackground" ColorVariationBackground="@model.ColorVariationBackground"/>
}

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
	<div class="form-group">
		<label for="inpType">Select Sample PGN</label>
		<InputSelect Name="pgnkey" @bind-Value="model.PGNKey" id="inpPgnKey">
			@foreach (var t in SampleData.PGNSamples.Keys)
			{
	   <option Name="pgnkey" Value="@t">@t</option>
			}
  </InputSelect>
  	<button type="submit">Load</button>
 </div>
	<div class="form-group">
		 <label>Or Upload PGN (only first game will be loaded)</label>
		<InputFile OnChange="@LoadFile" />
	</div>
	@if (game.Moves.Count > 0) {
	<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="model.InlineMode" />
		<label>
			Inline Mode:
		</label>
	</div>
	<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="model.Comments" />
		<label>
			Show Comments:
		</label>
	</div>
	<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="model.Variations" />
		<label>
			Show Variations:
		</label>
	</div>
		<div class="form-check">
		<InputCheckbox class="form-check-input" @bind-Value="model.HierarchicalDisplay" />
		<label>
			Hierarchical Display:
		</label>
	</div>
	<div class="form-group">
		<label for="inpType">Select Type</label>
		<InputSelect Name="type" @bind-Value="model.NotationType" id="inpType">
			@foreach (var t in Enum.GetNames(typeof(Scoresheet.NotationType)))
			{
	   <option Name="type" Value="@t">@t</option>
			}
  </InputSelect>
 </div>
	@if (model.Comments && (model.InlineMode || model.Variations))
	{
		<div class="form-group">
		<label>
			Color Comment Text (in inline mode or within Variations):
		</label>
		<input type="color" @bind-value="model.ColorCommentText"/>
	</div>
	}
 	@if (model.Comments && (!model.InlineMode))
	{
	<div class="form-group">
		<label>
			Color Comment Background:
		</label>
		<input type="color" @bind-value="model.ColorCommentBackground"/>
	</div>
	}
	@if (model.Variations && (!model.InlineMode || model.HierarchicalDisplay))
	{
	<div class="form-group">
		<label>
			Color Variation Background:
		</label>
		<input type="color" @bind-value="model.ColorVariationBackground"/>
	</div>
	}
}
 <div class="form-group">
  <label>
   Other Attributes:
  </label>
  <InputText class="form-control" @bind-Value="model.OtherAttributes" />
 </div>
 }
</EditForm>

<div class="alert alert-success" role="alert">
	@EventInfoText
</div>


@code {

}
