@page "/puzzles"
@inject HttpClient HttpClient

<div class="container-fluid">
	<div class="row my-3">
		<h3>@Message</h3>
	</div>
	<div class="row justify-content-center my-3">
		<Chessboard Fen="@Game.Position.FEN" OnMovePlayed="OnMovePlayed" @ref="@CB" HighlightLastAppliedMove="true" Rotate="@Rotate" />
		<Scoresheet Game="@Game" style="width: 398px; height: 398px" OnMoveSelected="OnMoveSelected" Variations="true" MinimalRowCount="14" />
	</div>
	@if (StatusMessage != null && StatusMessage.Length > 0)
	{
	 <div class="@StatusClass" role="alert">
			@StatusMessage
	 </div>
	}
 <div class="row my-3">
  <div class="col align-self-start">
			@if (PuzzleDone)
			{
	   <button type="button" class="btn btn-primary" @onclick="NextPuzzle">Next Puzzle</button>
			} else
			{
	   <button type="button" class="btn btn-primary" @onclick="ShowSolution">Show Solution</button>				
			}
  </div>
  <div class="col align-self-end">
   <h3 style="align-content:flex-end;">Score: @Solved/@(PuzzleIndex + 1)</h3>
  </div>
 </div>
</div>